{% load catalog_tag %}
<div class="menu">
    <ul class="ThumbnailClass">
        {% for ac in acs %}            
            <li>
                <a href="{% url 'catalog:automobi_catalog' first_slug=ac.slug %}">
                    <span></span>{{ ac.title }}
                </a>
                <ul>
                    {% with descendants=ac|ac_get_level_1|slice:':2' %}
                        {% for descendant in descendants %}
                            <li>
                                <a href="{% url 'catalog:automobi_catalog' first_slug=ac.slug second_slug=descendant.slug %}">{{ descendant.title }}</a>
                            </li>
                        {% endfor %}
                    {% endwith %}
                </ul>
                <div class="show-menu-dropdown">
                    {% with descendants=ac|ac_get_level_1|slice:'2:' %}
                        {% if descendants %}
                            <a href="#">Еще ...</a>
                            <div class="menu-dropdown" style="left: -22px; top: -20px; position: absolute; z-index: 15;">
                                <ul class="nav-pills">
                                    {% for descendant in descendants %}
                                        <li><a href="{% url 'catalog:automobi_catalog' first_slug=ac.slug second_slug=descendant.slug %}">{{ descendant.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </li>           
        {% endfor %}
    </ul>
</div>
