{% load catalog_tag %}
<div class='catalog-place'>
    <div class="goods-menu">
        <div class="goods-menu-toggler"><div class="search-wrapper-toggler-menu"></div><span>Товарный каталог</span></div>
        {% include 'catalog/ac_short_list_column.html' with acs=acs catalog=catalog request=request %}
    </div>
</div>