{% comment %}
    {% load thumbnail %}
{% endcomment %}
{% load catalog_tag %}
<div class="menu">
    <ul class="ThumbnailClass">        
        {% for group in groups|prefetch_related %}
            {% with categories=group.goodscategory_set.all %}
                <li>
                {% comment %}
                    {% thumbnail group.icon "20x20" as im %}                        
                        <img src="{{ im.url }}" style="margin:{{ im|margin:"20x20" }}" />
                    {% endthumbnail %}
                {% endcomment %}
                    <a href="{% url 'catalog:category' category_id=categories.0.id %}"><span></span>{{ group.name }}</a>
                    <ul>
                        {% for category in categories%}
                            <li>
                                <a href="{% url 'catalog:category' category_id=category.id %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
</div>