{% load catalog_tag %}

{% if tree %}
	<ul>
	{% for key, tree_item in tree.items %}
		<li>
			{% with tree_item=tree_item|get_item:'tree_item' %}
				<a href="{% url 'catalog:parts' tree_id=tree_item.id modification_id=modification_id %}">{{ tree_item.title }}</a>
			{% endwith %}
			{% output_tree tree_item|get_item:'children' modification_id %}
		</li>
	{% endfor %}
	</ul>
{% endif %}